<%if user_signed_in?%>
<div class="nav-scroller bg-white box-shadow">
  <nav class="nav nav-underline">
    <%=link_to root_path, class:"nav-link active" do %>
    <i class="fas fa-tachometer-alt"></i> Dashboard
    <%end%>
    <%if current_user.profile_type == "Individual"%>
    <a class="nav-link" href="/cvs"><i class="far fa-list-alt"></i> My Resume <span class="badge bg-primary text-light"> <%=@cv_count%></span> </a>
    <a class="nav-link" href="/referrals"><i class="far fa-user-circle"></i> My References <span class="badge bg-primary text-light"> <%=@referral_count%></span> </a>

    <%if current_user.cvs.empty? %>
      <a class="nav-link disable-links text-muted" href="#"><i class="far fa-folder"></i> My Documents <span class="badge bg-primary text-light"> 0 </span> </a>
    <%else%>
      <a class="nav-link" href="/documents"><i class="far fa-folder"></i> My Documents <span class="badge bg-primary text-light"> <%=@document_count%></span> </a>
    <%end%>

    <a class="nav-link" href="/find_jobs"><i class="far fa-user"></i> Find Jobs <span class="badge bg-primary text-light"><%=@jobs_count%></span> </a>
    <a class="nav-link" href="/summary"><i class="far fa-file"></i> Summary  </a>
       <%else%>
     <a class="nav-link" href="/company_details"><i class="far fa-building"></i></i> Company Details <span class="badge bg-primary text-light">1</span></a>
     <a class="nav-link" href="/jobs"><i class="far fa-folder "></i> Jobs <span class="badge bg-primary text-light"> <%=current_user.jobs.count%></span></a>
    <%end%>
    <%= link_to "What's New", announcements_path, class: "nav-link #{unread_announcements(current_user)}" %>
  </a>
  </nav>
</div>
<%end%>
