<% if user_masquerade? %>
  <div class="alert alert-warning text-center">
    You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
    <%= link_to back_masquerade_path(current_user) do %><%= icon("fas", "times") %> Logout <% end %>
  </div>
<% end %>

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
     <%=render'shared/logo'%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      </ul>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
        <li class="nav-item"><%= link_to users_path, class: "nav-link btn btn-primary my-2 my-sm-0 text-light"  do %>
          FIND SERVICE PROVIDER <span class="badge bg-light text-dark"><%=@service_provider_count%></span>
           <%end%>
        </li>
        <li class="nav-item">
          <%= link_to notifications_path, class: "nav-link" do %>
            <span><i class="fas fa-bell"></i></span>
          <% end %>
         </li>

         <li class="nav-item">
           <%= link_to "#", class: "nav-link" do %>
             <span><i class="far fa-life-ring"></i></span>
           <% end %>
          </li>

          <li class="nav-item dropdown">
            <%= link_to root_path, id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do %>
              <%= image_tag gravatar_image_url(current_user.email, size: 40), height: 20, width: 20, class: "rounded" %>
              <%end%>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown">
              <% if current_user.admin? %>
                <%= link_to "Admin Area", admin_root_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>
          <li class="nav-item"><%= link_to "About us", "/about", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Find jobs", "/find_jobs", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "CREATE PROFILE", new_user_registration_path, class: "nav-link btn btn-primary my-2 my-sm-0 text-light" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<%=render'shared/mini_nav'%>
