<div class="container-fluid">
  <div class="row">
      <div class="col-lg-8">
        <div class="jumbotron jumbotron-fluid bg-primary text-light">
          <div class="container">
        <% if current_user.company_details.empty? %>
          <h3 class="display-4">Hi, <%=current_user.name%></h3>
          <p class="lead">Please update company details!</p>
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 40%"></div>
               <%=link_to new_company_detail_path , class:'btn btn-warning' do %>
               🚀 GET STARTED
               <%end%>
             <%else%>
            <h3 class="display-4">Hi, <%=current_user.name%></h3>
            <p class="lead">Welcome to TAP job placement</p>
            <span class="badge bg-warning"><i class="fas fa-user-lock"></i> #TAP00<%=current_user.id%></span>
            <span class="badge bg-danger text-light">
                <i class="far fa-building"></i>
              <%=current_user.profile_type%></span>
            <span class="badge bg-secondary text-light"> <i class="far fa-envelope-open"></i> <%=current_user.email%></span> <br> <br>
          <%end%>
        </div>
        </div>
      </div>
      <hr>
      <div class="col-lg-4">
        <%#=render'home/templates/calender'%>
      </div>
</div>
  <hr>
<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <div class="container">
        <h3 class="display-4">See All Applicants</h3>
      </div>
    </div>
  </div>
</div>

</div>

<script type="text/javascript">
    $('#calendar').fullCalendar({});
</script>
