<div class="container-fluid mt-5">
  <div class="row">
      <div class="col-lg-7">
        <div class="welcome-card card  ">
          <div class="container">
        <% if current_user.cvs.empty? %>
          <h3 class="display-4">Hi, <%=current_user.name%></h3>
          <p class="lead">You haven't created a cv yet!</p>
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 40%"></div>
               <%=link_to new_cv_path , class:'btn btn-warning' do %>
               🚀 GET STARTED
               <%end%>
             <%else%>
            <h3 class="display-4">Hi, <%=current_user.name%></h3>
            <p class="lead">Welcome to @work job placement</p>
             <hr>
             <small>
               Things you can do @work portal
               <ul>
                 <li>Create Resume</li>
                 <li>Add Reference</li>
                 <li>Upload Qualificatons</li>
                 <li>Apply Jobs</li>
                 <li>Search for Service Provider</li>
               </ul>
             </small>
          <%end%>
        </div>
        </div>
      </div>
      <hr>
      <div class="col-lg-5">
        <%=render'home/templates/user_profile'%>
      </div>
</div>
  <hr>

<div class="row">
  <div class="col-lg-12">
    <div class="shadow-sm p-3 mb-5 bg-light">
      <%if current_user.cvs.exists? %>
      <h4 class="text-muted">Companies that are hiring</h4>
      <hr>
           <%=render'home/templates/open_companies'%>
        <%else%>
           <p>Hi,complete your resume to see companies that are hiring</p>
        <%end%>
    </div>
  </div>
</div>
</div>
