
<%if @document_count >= 5%>
  <div class="container-fluid">
    <div class="col-lg-12">
    <div class="row">
    <div class="col-lg-12 col-md-6 jumbotron text-center text-danger border-top-reviews">
      <h4 ><i class="fas fa-exclamation-circle"></i> <br>You have reached the maximum file upload</h4>
    </div>
    </div>
  </div>
</div>
  <%else%>
<%= form_with(model: document, local: true) do |form| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="shadow-sm p-3 mb-5 bg-light border-top-reviews">
          <%= render 'errors', document: @document %>

          <div class="form-group">
            <%if @identification_type.identification_type =="ID" %>
            <%= form.select :title,['PROOF OF RESIDENCE', ' IDENTITY DOCUMENT', 'QUALIFICATIONS','CURRICULUM VITEA'],{prompt: "Select File Name"}, class: 'form-control' %>
            <%else%>
            <%= form.select :title,['PROOF OF RESIDENCE', ' PASSPORT', 'QUALIFICATIONS', 'POLICE CLEARANCE', 'CURRICULUM VITEA'],{prompt: "Select File Name"}, class: 'form-control' %>
            <%end%>
          </div>

          <div class="form-group">
            <%= form.file_field :file, class: 'form-control-file', accept: 'application/pdf', direct_upload: true, required: :required %>
            <small id="passwordHelpBlock well" class="form-text text-danger">
              *Only Pdf files are allowed. <br>
              <i class="fas fa-info-circle" data-toggle="tooltip" title="Combine all the qualifications"></i> hint
            </small>
          </div>

          <div class="form-group">
            <% if document.persisted? %>
              <div class="float-right">
                <%= link_to 'Destroy', document_path(@document), method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
            <hr>

            <%= form.button(type: "submit", class: "btn btn-primary" , data: {disable_with:"<i class='fa fa-spinner fa-spin'></i> Uploading..." .html_safe }) do %>
               <i class="fas fa-cloud-upload-alt"></i> UPLOAD
            <% end %>

            <% if document.persisted? %>
              <%= link_to "Cancel", document, class: "btn btn-link" %>
            <% else %>
              <%= link_to "Cancel", documents_path, class: "btn btn-link" %>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="shadow-sm p-3 mb-5 bg-primary text-light">
          <h4>Required Documents</h4>
          <hr>
            <i class="fas fa-check-circle"></i> ID Copy <br>
            <i class="fas fa-check-circle"></i> Proof of Residence not older than 3 month <br>
            <i class="fas fa-check-circle"></i> Certificate(s)<br>
            <i class="fas fa-check-circle"></i> Curriculum Vitea <br>
            <%if @identification_type.identification_type == "Passport" %>
            <i class="fas fa-check-circle"></i> Police Clearence<br>
            <%end%>
        </div>
      </div>
    </div>
  </div>
<%end%>
