<%=render'shared/search_jobs'%>
<div class="container">
  <h3 class="text-center text-primary">Jobs that might interest you:</h3>
  <%if@get_jobs.present?%>
      <h6 class="border-bottom border-gray pb-2 mb-0">Jobs</h6>
       <%@get_jobs.each do |get_job| %>
       <div class="my-3 p-3 bg-white rounded shadow-sm border-top-reviews">
       <div class="media text-muted pt-3">
         <% if get_job.company_detail.company_logo.attached? %>
           <%= image_tag get_job.company_detail.company_logo.variant(resize:"52x52"), height: 52, width: 52, class:"bd-placeholder-img mr-2 rounded img-border" %>
         <%else%>
         <svg class="bd-placeholder-img mr-2 rounded text-light" width="52" height="52" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect fill="#007bff" width="100%" height="100%"/><text fill="#fff" dy=".3em" x="25%" y="50%"><%= get_job.company_detail.company_name[0..1].upcase %> </text> </svg>

         <%end%>
         <div class="media-body pb-3 mb-0 small lh-125 ">
           <div class="d-flex justify-content-between align-items-center w-100">
             <strong class="text-gray-dark"><%=link_to get_job.title.titlecase, get_job%></strong>
             <a href="#">Follow</a>
           </div>
           <span class="d-block">@<%=get_job.company_detail.company_name%></span>
           <span class="badge bg-primary text-light"><i class="fas fa-calendar-alt"></i> <%=time_ago_in_words(get_job.created_at) +" ago" %></span>
           <span class="badge bg-primary text-light"><i class="fas fa-map-marker-alt"></i> <%=get_job.city %></span> <br> <br>
            <p class="text-justify"><%=get_job.description%></p>
         </div>
       </div>
       </div>
       <%end%><!--end loop-->
     <%= will_paginate @get_jobs, list_classes: %w(pagination justify-content-end),renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div> <!--end container-->

<%else%>
<br>
    <div class="container-fluid">
      <div class="col-lg-12">
      <div class="row">
      <div class="col-lg-12 col-md-6 jumbotron text-center text-primary border-top-reviews">
        <h1 ><span class="badge bg-primary text-light"><i class="far fa-file"></i> </span></h1>
        Nothing in jobs yet!
      </div>
      </div>
    </div>
  </div>
</div>
<%end%>
