<section class="pricing py-5 mt-5">
  <div class="container">
    <h3 class="text-center text-primary ">Choose the best plan that matches your budget.</h3>
    <div class="row mt-5">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Standard</h5>
            <h6 class="card-price text-center text-warning">R100<span class="period"> / month</span></h6>
            <hr>
            <ul class="fa-ul">
            <!--  <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>-->
            </ul>
            <% if user_signed_in? %>
              <%= link_to 'Subscribe', new_subscription_path(plan: "standard", plan_id: "plan_FhT2P2E0RrNwnE"), class:"btn btn-block btn-primary text-uppercase" %>
            <% else %>
              <%= link_to 'Subscribe', new_user_registration_path, class: 'btn btn-block btn-primary text-uppercase' %>
          <% end %>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
            <h6 class="card-price text-center text-primary">R800<span class="period"> / year</span></h6>
            <hr>
            <ul class="fa-ul">
              <!--<li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>-->

            </ul>
            <% if user_signed_in? %>
              <%= link_to 'Subscribe', new_subscription_path(plan: "plus", plan_id: "plan_FhT3UBGB5Ak3uE"), class:"btn btn-block btn-primary text-uppercase" %>
            <% else %>
              <%= link_to 'Subscribe', new_user_registration_path, class: 'btn btn-block btn-primary text-uppercase' %>
          <% end %>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro <span class="badge bg-danger text-light">10% discount</span></h5>
            <h6 class="card-price text-center text-success">R1800<span class="period"> / 2 years</span></h6>
            <hr>
            <ul class="fa-ul">
              <!-- <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>10 % discount</strong></li>-->
            </ul>
            <% if user_signed_in? %>
              <%= link_to 'Subscribe', new_subscription_path(plan: "pro", plan_id: "plan_FhT43QSewUa0QA"), class:"btn btn-block btn-primary text-uppercase" %>
            <% else %>
              <%= link_to 'Subscribe', new_user_registration_path, class: 'btn btn-block btn-primary text-uppercase' %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
